.product-section {
  padding: 15px 30px;
  background: #f6f8fa;
}

/* LIST CONTAINER */
.list-container {
  margin-top: 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
}

/* ROW */
.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;   /* 🔽 smaller */
  border-bottom: 1px solid #f1f1f1;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 6px;   /* 🔽 smaller gap */
}

/* IMAGE */
.cat-img {
  width: 28px;   /* 🔽 smaller */
  height: 28px;
  border-radius: 5px;
}

/* TEXT */
.name {
  font-size: 12px;   /* 🔽 smaller */
  font-weight: 600;
}

.desc {
  font-size: 10px;   /* 🔽 smaller */
  color: #777;
  margin: 0;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* DATE */
.date {
  font-size: 10px;
  color: #999;
}

/* ARROW */
.arrow {
  font-size: 12px;
  color: #bbb;
}