<section class="products-section">
  <h2 class="section-title">Explore Our Products</h2>

  <div class="products-grid">
    <div class="product-card" *ngFor="let p of products">
      <img [src]="p.image" [alt]="p.title" class="product-img" />

      <h3 class="product-title">{{ p.title }}</h3>
      <p class="product-desc">
        {{ p.description }}
      </p>
    </div>
  </div>

  <div class="btn-container">
    <button class="explore-btn">EXPLORE PRODUCTS</button>
  </div>
</section>
<div class="aumorra-why-chose-section">
  <section class="choose-us">
    <h2>WHY CHOOSE US</h2>
    <p class="subtitle">Why Buyers Prefer Aumorra International</p>

    <div class="choose-grid">
      <div class="choose-box" *ngFor="let item of features">
        <mat-icon class="icon">{{ item.icon }}</mat-icon>
        <h4>{{ item.title }}</h4>
        <p>{{ item.desc }}</p>
      </div>
    </div>
  </section>
</div>

<div class="amuoora-globe-reach-section">
  <section class="global-reach">
    <h2>GLOBAL REACH</h2>
    <p class="subtitle">Delivering Worldwide</p>

    <div class="reach-container">
      <!-- LEFT : World Map -->
      <div class="reach-map">
        <img src="assets/images/global-map.png" alt="World Map Export Import" />
      </div>

      <!-- RIGHT : Text -->
      <div class="reach-text">
        <p>
          Aumorra International exports to multiple international markets, with expanding footprints
          across:
        </p>

        <ul>
          <li>Asia</li>
          <li>Middle East</li>
          <li>Africa</li>
          <li>Europe</li>
        </ul>

        <p>
          Our team ensures seamless coordination, accurate documentation, and secure packaging to
          ensure your products reach safely and on time.
        </p>
      </div>
    </div>
  </section>
</div>
<div class="amuoora-certification-section">
  <section class="cert-section">
    <h2>Certifications & Compliance</h2>
    <p class="tagline">Fully Compliant for Global Supply</p>

    <div class="grid">
      <div class="card" *ngFor="let item of items">
        <mat-icon class="icon">{{ item.icon }}</mat-icon>
        <h3>{{ item.title }}</h3>
        <p>{{ item.subtitle }}</p>
      </div>
    </div>

    <p class="footer-text">
      Quality, safety, and legal compliance are at the core of our export operations.
    </p>
  </section>
</div>
<div class="aumoora-fotter"><app-footer></app-footer></div>
